<div class="col-xs-8 col-xs-offset-2">
    <div class="row area">
        <textarea ng-model="newWaste"
                  ng-keypress="sendWaste($event)"
                  class="form-control"
                  placeholder="Post Waste... then press enter">
        </textarea>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2 waste-section">
      <a ng-if="incomingWastes.length > 0" ng-click="setNewWastes()">There are {{difference}} new wastes</a>
    </div>
</div>

<div class="row" ng-repeat="waste in wastes">
      <div class="col-xs-8 col-xs-offset-2 thePost">
          <div class="profile-image">
            <image ng-src="{{waste.userImage}}">
          </div>
          <div class="postInfo">
              <strong>{{waste.user}}</strong>
              <div class="thePost-date">{{waste.date | date: 'MM/dd/yyyy hh:mm'}}</div>
              <p>{{waste.content}}</p>
          </div>
      </div>
    </div>
</div>
